.wrap {
  display: flex;
  margin-left: 25px;
  flex-wrap: wrap;
}
.wrapImg {
  margin-right: 25px;
}
.wrapDiscrip {
  max-width: 400px;
}
.title {
  margin-left: 25px;
  text-transform: uppercase;
}
